include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
graft filer_gallery
global-exclude *.orig *.pyc *.log
prune filer_gallery/tests/coverage/
prune filer_gallery/.ropeproject/
